
AdEntify.xcodeproj/project.xcworkspace/contents.xcworkspacedata

AdEntify.xcodeproj/project.xcworkspace/xcuserdata/floflo67.xcuserdatad/UserInterfaceState.xcuserstate

AdEntify.xcodeproj/xcuserdata/floflo67.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

AdEntify.xcodeproj/xcuserdata/floflo67.xcuserdatad/xcschemes/AdEntify.xcscheme

AdEntify.xcodeproj/xcuserdata/floflo67.xcuserdatad/xcschemes/xcschememanagement.plist
